# roles/{{ role_name }}/README.md

[![Build Status](https://travis-ci.org/cjsteel/{{ role_name }}.svg?branch=master)](https://travis-ci.org/cjsteel/{{ role_name }})
[![Travis CI](http://img.shields.io/travis/csteel/{{ role_name }}/default.svg?style=flat)](http://travis-ci.org/csteel/{{ role_name }}/default)
[![Platforms](http://img.shields.io/badge/platforms-debian%20/%20ubuntu-lightgrey.svg?style=flat)](#)

## Description

{{ role_name }} is a customizable alternative to the default role skeleton that is used by the ansible-galaxy command when creating new roles. In other words it is used as a template from which new roles are created when executing the `ansible-galaxy init` command.

## Usage

This role can be used to replace the default ansble-galaxy role skeleton or you can point the ansible-galaxy to another location containing this customizable role skeleton using the ansible-galaxy ROLE_SKELETON option. See the following for details:

### To use as an alternative role skeleton

```shell
ansible-galaxy init --role-skeleton=ALTERNATIVE_ROLE_SKELETON_PATH ansible-role-myrole
```

### To as a replacment for the default role skeleton that ships with Ansible

If you want to completely replace the default ansible role skeleton directory provided by ansible then you could deleted the default role skeleton directory and replace it with this one.

Here is an example of how you might used the role skeleton with a miniconda created python environment called ansible.

```shell
# copy the original role skeleton
mv ~/miniconda2/envs/ansible/lib/python2.7/site-packages/ansible/galaxy/data/default ~/miniconda2/envs/ansible/lib/python2.7/site-packages/ansible/galaxy/data/default.org
# clone this role in order to replace the original you just moved out of the way.
cd ~/miniconda2/envs/ansible/lib/python2.7/site-packages/ansible/galaxy/data/
git clone git@github.com:cjsteel/galaxy-role-default.git default
```

## Variables

### project_name/site.yml

{% raw %}
```yaml
--- # project_name/site.yml

- hosts: all
  gather_facts: true
  pre_tasks:

    - set_fact: fact_controller_user="{{ lookup('env','USER') }}"
    - debug: var=fact_controller_user

    - set_fact: fact_controller_home="{{ lookup('env','HOME') }}"
    - debug: var=fact_controller_home

    - set_fact: fact_project_path="{{ lookup('pipe','pwd') }}"
    - debug: var=fact_project_path
{% endraw %}

- include: {{ role_name }}.yml
```

### project/group_vars/all/project_defalts.yml

```yaml
--- # group_vars/all/project_defaults.yml
{% raw %}
project_project_home   : '{{ fact_project_home }}'

project_controller_user: '{{ fact_controller_user }}'
project_controller_home: '{{ fact_controller_home }}'

project_deployment_user: 'deploy'  # customize for your setup.
project_deployment_home: '/home/{{ project_deployment_user }}'
{% endraw %}
```

### project_name/{{ role_name }}

Example content for {{ role_name }}'s main playbook.

```yaml
--- # file: project_name/{{ role_name }}.yml

- hosts: {{ role_name }}
  become: false
  gather_facts: true
  pre_tasks:
{% raw %}
    - set_fact: fact_role_path="{{ lookup('pipe','pwd') }}{% endraw %}/roles/{{ role_name }}"
    - debug: var=fact_role_path

  roles:

    - {{ role_name }}
```

### Authors and license

`galaxy-role-default/default` role was written by:

- [Christopher Steel](http://mcin-cnim.ca/) | [e-mail](mailto:christopher.steel@mcgill.ca)

License: [MIT](https://tldrlegal.com/license/mit-license)

***
### Open Science

The Neuro has adopted the principles of Open Science. We are inspired by the likes of the Allen Institute for Brain Science, the National Institutes of Health's Human Connectome project, and the Human Genome project. For additional information please see [open science at the neuro](https://www.mcgill.ca/neuro/open-science-0).

![MCIN](imgs/mcin-logo-brain-140x116.png)          ![neuro](imgs/neuro-logo-160x116.png)  

* Role generated using [galaxy-role-default](https://github.com/cjsteel/galaxy-role-default)

