---
- hosts: all
  become: true
  gather_facts: false

  pre_tasks:

{% raw %}
    - set_fact: fact_controller_user="{{ lookup('env','USER') }}"
    - debug: var=fact_controller_user

    - set_fact: fact_controller_home="{{ lookup('env','HOME') }}"
    - debug: var=fact_controller_home

    - set_fact: fact_role_path="{{ lookup('pipe','pwd')|dirname }}"
    - debug: var=fact_role_path

#    - set_fact: fact_role_name="{{ lookup('pipe','pwd')|dirname|basename }}"
#    - debug: var=fact_role_name2
{% endraw %}

  - set_fact: ansible_user='ubuntu'
  - name: "Ensure that our target has python2.x for Ansible gather facts (Sometimes Ubuntu 16.04 does not)"
    raw: bash -c "test -e /usr/bin/python || (apt -qqy update && apt install -qqy python-minimal)"
    register: output
    changed_when:
    - output.stdout != ""
    - output.stdout != "\r\n"
    ignore_errors: yes


  - name: "Now that we are sure Python 2.7 is installed we can gather our facts"
    setup:

  roles:

#    - epel
    - haveged
    - { role: gpg, ansible_user: ubuntu }

- hosts: all
  become: false
  gather_facts: true
  roles:

    - {{ role_name }}
