--- # roles/{{ role_name }}/tests/vagrant.yml

- hosts: all
  become: true
  gather_facts: false
  pre_tasks:

    - name: "Set projects variables and ensure desired python(s) installed on nodes"
      import_tasks: vagrant_pre_tasks.yml


- hosts: all
  remote_user: ubuntu
  become: true
  roles:
    - ../../

