# roles/{{ role_name }}/docs/main.yml

## Project setup example

### Virtual Python environment

* The conda's

  * miniconda3

### Ansible

* activate environment
* install Ansible
* configure Ansible

### Ansible Controller Requirements

* excellent passphrase
* ssh key pair
* ssh-agent

### Project directory structure

#### group_vars

#### host_vars

#### Inventory files





