--- #roles/{{ role_name }}/meta/main.yml

dependencies:

  - role: cjsteel.resources
    resources_on_local : '{{ '{{' }} {{ role_name }}_resources_on_local {{ '}}' }}'
    resources_on_remote: '{{ '{{' }} {{ role_name }}_resources_on_remote {{ '}}' }}'

#  - role: acemenu

galaxy_info:
  author: 'Christopher Steel'
  description: '{{ role_name }} is used to...'
  company: 'McGill Centre for Integrative Neuroscience'
  license: MIT
  min_ansible_version: '1.7.1'

  platforms:
    - name: Ubuntu
      versions:
        - xenial

  galaxy_tags:
    - mcin
    - {{ role_name }}
    - package
    # NOTE: A tag is limited to a single word comprised of
    # alphanumeric characters. Maximum 20 tags per role.

