---
# roles/{{ role_name }}/tasks/debian_7.yml
{% raw %}
- debug:
    msg:
      - "Debian 7 (Wheezy) not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

