---
# roles/{{ role_name }}/tasks/debian_8.yml
{% raw %}
- debug:
    msg:
      - "Debian 8 (Jesse) not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

