---
# roles/{{ role_name }}/tasks/debian_6.yml
{% raw %}
- debug:
    msg:
      - "Debian 6  (Squeeze) not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

