---
# roles/{{ role_name }}/tasks/debian_9.yml
{% raw %}
- debug:
    msg:
      - "Debian 9 (Stretch) not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

