---
# roles/{{ role_name }}/tasks/debug.yml

# Include /tasks/debug-group-and-host-vars.yml

{% raw %}
- name: "Debug values for gathered from group and host variables"
  include: "{{ fact_role_path }}/tasks/debug-group-and-host-vars.yml"
{% endraw %}
  when: {{ role_name }}_debug

# Include /tasks/debug-playbook-vars.yml

{% raw %}
- name: "Debug - ansible playbook variable values"
  include: "{{ fact_role_path }}/tasks/debug-playbook-vars.yml"
{% endraw %}
  when: {{ role_name }}_debug

# Any custom vars you want printed last
#
# Some examples

- name: "Debug - value of inventory_hostname"
  debug: msg="{{ '{{' }} item {{ '}}' }}"
  with_items:
    - inventory_hostname
    - ansible_hostname
  when: {{ role_name }}_debug

{% raw %}
- name: "Debug - ansible playbook variable values"
  debug: msg="{{ ansible_hostname }}"
{% endraw %}
  when: {{ role_name }}_debug

{% raw %}
- name: "Debug - ansible playbook variable values"
  debug: msg="{{ fact_role_path }}"
{% endraw %}
  when: {{ role_name }}_debug

## Distribution

{%- raw %}
- name: "Debug - ansible_distribution"
  debug: msg="{{ ansible_distribution }}"
{%- endraw %}
  when: {{ role_name }}_debug

{%- raw %}
- name: "Debug - ansible_distribution_release"
  debug: msg="{{ ansible_distribution_release }}"
{%- endraw %}
  when: {{ role_name }}_debug

{%- raw %}
- name: "Debug - ansible_distribution_version"
  debug: msg="{{ ansible_distribution_version }}"
{%- endraw %}
  when: {{ role_name }}_debug

{%- raw %}
- name: "Debug - ansible_distribution_major_version"
  debug: msg="{{ ansible_distribution_major_version }}"
{%- endraw %}
  when: {{ role_name }}_debug

