--- # roles/{{ role_name }}/tasks/debug.yml

- debug: var={{ role_name }}_controller_user
- debug: var={{ role_name }}_controller_home

- debug: var={{ role_name }}_deployment_user
- debug: var={{ role_name }}_deployment_home

#- debug: var={{ role_name }}_major
#- debug: var={{ role_name }}_moderate_revision
#- debug: var={{ role_name }}_minor_revision
#- debug: var={{ role_name }}_build

## Package #

- debug: var={{ role_name }}_package_state
- debug: var={{ role_name }}_package_version
- debug: var={{ role_name }}_package_filename
- debug: var={{ role_name }}_controller_resource_dir
{{ role_name }}_remote_resource_dir

# Resource URLs

- debug: var={{ role_name }}_package_url
- debug: var={{ role_name }}_checksum_url
- debug: var={{ role_name }}_checksum_sig_url

# Directories

- debug: var={{ role_name }}_dirs_on_local:
- debug: var={{ role_name }}_dirs_on_remote:
