---
# roles/{{ role_name }}/tasks/ubuntu_16.04.yml
{% raw %}
- debug:
    msg:
      - "Ubuntu 16.04 not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

