---
# roles/{{ role_name }}/tasks/ubuntu_12.04.yml
{% raw %}
- debug:
    msg:
      - "Ubuntu 12.04 not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

