---
# roles/{{ role_name }}/tasks/ubuntu_14.04.yml
{% raw %}
- debug:
    msg:
      - "Ubuntu 14.04 not supported at this time"
      - "System {{ inventory_hostname }} not configured"
{%- endraw %}

